<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunMatter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>49436D7B969B3938BF7E8292301B7CA40A366FF4</string>
				<key>dateExpires</key>
				<string>31/05/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49436D7B969B3938BF7E8292301B7CA40A366FF4</string>
						<key>dateExpires</key>
						<string>31/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UZ4THV58BR</string>
						<key>name</key>
						<string>Syed Jaffri</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UZ4THV58BR.org.Runmator105</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>UZ4THV58BR</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RunMatter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>06e1ec6f-a5bc-4574-b9e7-86a8b666d470</string>
				<key>dateExpires</key>
				<string>31/05/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.Runmator105</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UZ4THV58BR</string>
				<key>name</key>
				<string>Syed Jaffri</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
